flows.json
[{"id":"e87153c6.da928","type":"tab","label":"Cold Frame","disabled":false,"info":""},{"id":"6fd77b21.48c5e4","type":"ui_gauge","z":"e87153c6.da928","name":"","group":"aa29c57.bdb2038","order":1,"width":"4","height":"4","gtype":"gage","title":"Soil ","label":"Degrees","format":"{{value}}","min":"-10","max":"35","colors":["#804000","#804000","#804000"],"seg1":"","seg2":"","x":350,"y":500,"wires":[]},{"id":"829ac61a.d15ea8","type":"mqtt in","z":"e87153c6.da928","name":"Soil Temp","topic":"Cold_Frame/Soil_Temp","qos":"2","datatype":"auto","broker":"aeb1a0ee.74751","x":100,"y":500,"wires":[["6fd77b21.48c5e4","324b9ea8.35f272"]]},{"id":"632f3168.6778c","type":"ui_gauge","z":"e87153c6.da928","name":"","group":"aa29c57.bdb2038","order":2,"width":"4","height":"4","gtype":"gage","title":"Inside Frame ","label":"degrees","format":"{{value}}","min":"-10","max":"40","colors":["#008000","#008000","#008000"],"seg1":"","seg2":"","x":370,"y":560,"wires":[]},{"id":"ca5e95b8.0382e8","type":"mqtt in","z":"e87153c6.da928","name":"Inside Frame Temp","topic":"Cold_Frame/Frame_Temp","qos":"2","datatype":"auto","broker":"aeb1a0ee.74751","x":130,"y":560,"wires":[["632f3168.6778c","324b9ea8.35f272"]]},{"id":"d191749.c4b5088","type":"ui_gauge","z":"e87153c6.da928","name":"","group":"aa29c57.bdb2038","order":3,"width":"4","height":"4","gtype":"gage","title":"Outside","label":"Degrees","format":"{{value}}","min":"-10","max":"40","colors":["#0000a0","#0000a0","#0000a0"],"seg1":"","seg2":"","x":360,"y":620,"wires":[]},{"id":"14a838d.197b1c7","type":"mqtt in","z":"e87153c6.da928","name":"Outside Temp","topic":"Cold_Frame/Outside_Temp","qos":"2","datatype":"auto","broker":"aeb1a0ee.74751","x":110,"y":620,"wires":[["d191749.c4b5088","324b9ea8.35f272"]]},{"id":"c319d2.192f963","type":"ui_gauge","z":"e87153c6.da928","name":"","group":"b555b5ad.ed4a88","order":1,"width":"4","height":"4","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#b50000","#2fce17","#2414ed"],"seg1":"","seg2":"","x":300,"y":300,"wires":[]},{"id":"bafc54b4.8b7088","type":"mqtt in","z":"e87153c6.da928","name":"Humidity","topic":"Cold_Frame/Humidity","qos":"2","datatype":"auto","broker":"aeb1a0ee.74751","x":100,"y":300,"wires":[["c319d2.192f963"]]},{"id":"329ca2f.0d0235e","type":"ui_gauge","z":"e87153c6.da928","name":"","group":"b555b5ad.ed4a88","order":2,"width":"4","height":"4","gtype":"gage","title":"Pressure","label":"kPa","format":"{{value}}","min":"92.5","max":"105","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":360,"wires":[]},{"id":"3badb66c.b80a1a","type":"mqtt in","z":"e87153c6.da928","name":"Pressure","topic":"Cold_Frame/Pressure","qos":"2","datatype":"auto","broker":"aeb1a0ee.74751","x":100,"y":360,"wires":[["329ca2f.0d0235e"]]},{"id":"be3904c2.445438","type":"ui_gauge","z":"e87153c6.da928","name":"","group":"9f29d63c.52cb28","order":1,"width":"4","height":"4","gtype":"gage","title":"Battery","label":"V","format":"{{value}}","min":"0","max":"4.5","colors":["#f00000","#e6e600","#00b500"],"seg1":"3.5","seg2":"3.8","x":360,"y":680,"wires":[]},{"id":"d83ce998.558848","type":"mqtt in","z":"e87153c6.da928","name":"Battery Voltage","topic":"Cold_Frame/Battery_Voltage","qos":"2","datatype":"auto","broker":"aeb1a0ee.74751","x":120,"y":680,"wires":[["be3904c2.445438","58a1c1f3.f68f1"]]},{"id":"a139ce7f.c9775","type":"ui_gauge","z":"e87153c6.da928","name":"","group":"b555b5ad.ed4a88","order":3,"width":"4","height":"3","gtype":"wave","title":"Moisture Reading","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":200,"wires":[]},{"id":"184a678d.670738","type":"mqtt in","z":"e87153c6.da928","name":"Moisture Reading","topic":"Cold_Frame/Moisture_Reading","qos":"2","datatype":"auto","broker":"aeb1a0ee.74751","x":120,"y":200,"wires":[["bdb6dc1c.47c71","6eb49340.466e8c"]]},{"id":"479d291.4c052d8","type":"mqtt in","z":"e87153c6.da928","name":"Solar Voltage","topic":"Cold_Frame/Solar_Voltage","qos":"2","datatype":"auto","broker":"aeb1a0ee.74751","x":110,"y":740,"wires":[["788454c1.78d3dc","58a1c1f3.f68f1"]]},{"id":"a0fce587.cc2bb8","type":"mqtt out","z":"e87153c6.da928","name":"dateTime","topic":"dateTime","qos":"2","retain":"true","broker":"aeb1a0ee.74751","x":840,"y":720,"wires":[]},{"id":"16a4ecdb.c0ddd3","type":"ui_text","z":"e87153c6.da928","group":"8de08eff.7402e","order":5,"width":0,"height":0,"name":"","label":"Current time","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":820,"wires":[]},{"id":"733f83c1.553e5c","type":"inject","z":"e87153c6.da928","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":570,"y":760,"wires":[["16a4ecdb.c0ddd3","a0fce587.cc2bb8"]]},{"id":"324b9ea8.35f272","type":"ui_chart","z":"e87153c6.da928","name":"","group":"aa29c57.bdb2038","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#804000","#008000","#0000a0","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":440,"wires":[[]]},{"id":"bdb6dc1c.47c71","type":"ui_chart","z":"e87153c6.da928","name":"","group":"b555b5ad.ed4a88","order":4,"width":0,"height":0,"label":"Thirst","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":80,"wires":[[]]},{"id":"788454c1.78d3dc","type":"ui_gauge","z":"e87153c6.da928","name":"","group":"9f29d63c.52cb28","order":2,"width":"4","height":"4","gtype":"gage","title":"Solar","label":"V","format":"{{value}}","min":"0","max":"6","colors":["#f00000","#e6e600","#00b500"],"seg1":"3.5","seg2":"3.8","x":350,"y":740,"wires":[]},{"id":"6eb49340.466e8c","type":"range","z":"e87153c6.da928","minin":"5500","maxin":"16000","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":270,"y":200,"wires":[["8c381f31.8ce41"]]},{"id":"c12a1e54.0cf46","type":"mqtt out","z":"e87153c6.da928","name":"","topic":"Cold_Frame/Mapped_Moisture","qos":"2","retain":"true","broker":"aeb1a0ee.74751","x":650,"y":260,"wires":[]},{"id":"8c381f31.8ce41","type":"function","z":"e87153c6.da928","name":"invert","func":"msg.payload = 100 - msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["a139ce7f.c9775","c12a1e54.0cf46"]]},{"id":"58a1c1f3.f68f1","type":"ui_chart","z":"e87153c6.da928","name":"","group":"9f29d63c.52cb28","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"3","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#804000","#ffff00","#0000a0","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":800,"wires":[[]]},{"id":"aa29c57.bdb2038","type":"ui_group","z":"","name":"Temperature","tab":"9fe8ce8c.cb014","order":1,"disp":true,"width":"12","collapse":false},{"id":"aeb1a0ee.74751","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b555b5ad.ed4a88","type":"ui_group","z":"","name":"Environment","tab":"9fe8ce8c.cb014","order":2,"disp":true,"width":"12","collapse":false},{"id":"9f29d63c.52cb28","type":"ui_group","z":"","name":"Power","tab":"9fe8ce8c.cb014","order":3,"disp":true,"width":"12","collapse":false},{"id":"8de08eff.7402e","type":"ui_group","z":"","name":"Stats","tab":"9dba662d.491c18","order":2,"disp":true,"width":"12","collapse":false},{"id":"9fe8ce8c.cb014","type":"ui_tab","z":"","name":"Cold Frame","icon":"local_florist","order":1,"disabled":false,"hidden":false},{"id":"9dba662d.491c18","type":"ui_tab","z":"","name":"PI","icon":"fa-power-off","order":3,"disabled":false,"hidden":false}]